<section class="category">
  <h2>Keep Drinking</h2>
  <ul>
    <li>
      <app-wine-amount-consumed></app-wine-amount-consumed>
    </li>
    <li>
      <app-wine-amount-consumed></app-wine-amount-consumed>
    </li>
    <li>
      <app-wine-amount-consumed></app-wine-amount-consumed>
    </li>
    <li>
      <app-wine-amount-consumed></app-wine-amount-consumed>
    </li>
    <li>
      <app-wine-amount-consumed></app-wine-amount-consumed>
    </li>
    <li>
      <app-wine-amount-consumed></app-wine-amount-consumed>
    </li>
    <li>
      <app-wine-amount-consumed></app-wine-amount-consumed>
    </li>
    <li>
      <app-wine-amount-consumed></app-wine-amount-consumed>
    </li>
  </ul>
</section>
